<div style="text-align: center;
            border-bottom: 1px solid;
            border-bottom-color: #e5e5e5;
            align-items: center;">
  <div >
    <img src="https://i.ibb.co/QnF9CK2/logo.png"
         alt="logo"
         border="0"
         style="display: block;
                position: relative;
                align-items: center;
                padding-bottom: 30px" >
  </div>
</div>
